.mat-sidenav-container {
  height: 100%;


  .mat-sidenav {
    background-color: rebeccapurple;
    .mat-nav-list {

      .chevron-button {
        transition: 500ms ease-in-out;
        transform: rotate(0deg);
      }

      .chevron-button.open {
        transform: rotate(360deg);
      }
    }
  }
}

.menu-item
{
  color: white;
}

.content-wrapper {

  height: 93%;
}

.toolbar {
  justify-content: right;
  align-items: center;
  color: white;
  background-color: lighten(rebeccapurple, 15%);
}
